<h1>
  Trip #<%= @the_trip.id %> details
</h1>

<article>
  <div>
    <a href="/trips">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_trip/<%= @the_trip.id %>">
      Delete trip
    </a>
  </div>
  <dl>
    <dt>
      Title
    </dt>
    <dd>
      <%= @the_trip.title %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_trip.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_trip.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>

<article>
  <header>
    <h2>
      Edit trip
    </h2>
  </header>

  <hr>
  <h2>Days for this trip</h2>
  <ul>
    <% @the_trip.days.each do |day| %>
      <li>
        <a href="/days/<%= day.id %>">
          <%= day.date %>
        </a>
      </li>
    <% end %>
  </ul>

  <h3>Add a new day</h3>
  <form action="/insert_day" method="post">
    <input type="hidden" name="query_trip_id" value="<%= @the_trip.id %>">

    <div>
      <label for="date_box">Date</label>
      <input type="date" id="date_box" name="query_date">
    </div>

    <button>Create day</button>
  </form>

  <form action="/modify_trip/<%= @the_trip.id %>"  method="post" >
    <div>
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title" value="<%= @the_trip.title %>">
    </div>

    <button type="submit">
      Update trip
    </button>
  </form>
</article>

<hr>
